; Run MDP parameters
integrator                = md
dt                        = 0.001
nsteps                    = {{ run_time }}
comm-mode                 = Linear
nstcomm                   = 1
comm-grps                 = System

; Output parameters
nstxout                   = 0
nstvout                   = 0
nstxtcout                 = 5000
nstenergy                 = 5000
nstlog                    = 5000
nstfout                   = 0
nstcalcenergy             = 1

; Bond parameters
constraint-algorithm      = lincs
constraints               = h-bonds
lincs-iter                = 1
lincs-order               = 4

; Neighbor searching
cutoff-scheme             = Verlet
nstype                    = grid
vdwtype                   = cutoff
vdw-modifier              = force-switch
rlist                     = 1.2
nstlist                   = 10
rcoulomb                  = 1.2
rvdw                      = 1.2
rvdw-switch               = 1.0

; Electrostatics
coulombtype               = PME
fourierspacing            = 0.16
pme_order                 = 4

; Temperature coupling
tcoupl                    = nose-hoover
tc_grps                   = System
tau_t                     = 1.0
ref_t                     = {{ temperature }}

; Pressure coupling
pcoupl                    = Parrinello-Rahman
pcoupltype                = semiisotropic
tau_p                     = 10.0
ref_p                       = 1.01325 1.01325          ; bar
compressibility           = 4.5e-5 4.5e-5
refcoord_scaling          = com

; Misc stuff
gen-vel                   = yes
gen-temp                  = 305
gen-seed                  = {{ velocity_seed }}
pbc                       = xyz
DispCorr                  = EnerPres
